.padding {
    background-color: #E61515;
    width: 100vw;
}

.quadrado {
    border: solid white;
    height: 965px;
    width: 1200px;
    display: flex;
    background-color: aliceblue;
    margin-left: -390px;
    margin-top: -220px;
}

.imagem11 {
    margin-left: 350px;
    margin-top: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-right: 50px;
    padding-left: 80px;
}


.imagem11 p {
    font-size: xx-large;
    font-weight: bold;
    font-family: "Bebas Neue";
}

.imagem11 img {
    width: 15vw;
    height: 25vh;
}

.aluno-titulo {
    font-family: "Bebas Neue";
    font-size: 70px;
    color: aliceblue;
    width: 100%;
    padding-left: 40%;
}


.pageAluno {
    display: flex;
}

.consultas {
    display: flex;
    width: 90vw;
    height: 12%;
    padding-left: 15%;
}

.bordaConsultas {
    border-style: solid;
    border-color: rgb(207, 197, 197);
    background-color: #cc2727;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 1%;
}

.consultas input {
    background-color: #F5F5F5;
    border-radius: 70px;
    border: none;
    width: 39vh;
    height: 7vh;
    margin-top: 40px;
    padding-left: 1%;
    color: black;
}

.consultas1 {
    display: flex;
    justify-content: flex-end;
    width: 68%;
}

.Editar{

    background-color: #F5F5F5;
    border-radius: 70px;
   border: none;
    width: 15vh;
    height: 5vh;
    margin-top: 40px;
    color: rgb(96, 96, 96);
}

.fundoConsultas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.fundoconsultas{
    border-style: solid;
    border-color: rgb(255, 255, 255);
    background-color:rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    padding-bottom: 1%;
    width: 60vw;
    height: 20vh;
    color: black;
    border-radius: 35px;
}
.caixaConsultas{
    width: 100%;
    padding-left: 145px;
    margin-top: 20px;
}
.enviar1{
    background-color: #ecafaf;
    border-radius: 70px;
    width: 126vh;
    height: 7vh;
    color: rgb(0, 0, 0);
    margin-top: 10px;
}