.botoes{
    display: flex;
    align-items: center;
    justify-content: center;
}
.botao {
    border: solid white;
    height: 150px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 20px;;
}

.botao p{
    font-family: 'Bebas Neue';
    
}
.turma{
    font-family: 'Bebas Neue';
    display: flex;
    text-align: center;
    justify-content: center;
    color:white;
    font-size:40px;
    

}

.icones {
    display: flex;
    flex-wrap: wrap;
    height: 90vh;
    justify-content: space-around;

}
.icone{
    margin-top: -2vh;
}



/* ///////////////////////////////////////////////// */
/* provavelmente gambiarra para apenas essa pagina, apagar caso todos os botoes fiquem transparente */

button {
    background-color: transparent;
    border: none;
}

/* ///////////////////////////////////////////////// */