*{
    margin: 0;
    padding: 0;
}
.fundocd{
  background-color: #E61515;
    height: 110vh;
    width: 100vw;    
    flex-wrap: wrap;

}
.icones{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #E61515;
    
}

.imagesenai{
    width: 17%;
    display: flex;
    block-size:auto;
    margin: auto;
}
.icone{
    width:90px;
}

.footer{
    background-color: #D9D9D9;
    font-family:"Bebas Neue";
    text-align: center;
    padding-top: 10px;
    margin-top: 10%;
}

.l{
    font-size: 56%;
    margin-bottom: 0;
}   

.pi{
    margin:1px;    
}   

.imagemETitulo{
    margin-top: 20px;
}

.bodyAlunos{
    background-color: #E61515;
}

.turma{
    margin-bottom: 45px;
    margin-top: 30px;
}
.nomes{ 
    font-size: 19px;
    display: flex;
    font-family:'Bebas Neue';
}
.alunos{
    display: flex;
    justify-content: center;
    font-family: 'Bebas Neue';
}

.fundoAlunos{
    background-color:#E61515;
}
.pessoas{
    display: flex;
    justify-content: center;
    font-family: 'Bebas Neue';

}

